/* Write your CSS here */

.bgContainer {
  background-color: #ffffff;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto';
}
.whiteColor {
  border-radius: 2px;
  padding: 5px;
  border: 2px solid #000000;
  background-color: #ffffff;
}
.blackColor {
  border-radius: 2px;
  padding: 5px;
  border: 2px solid #000000;
  background-color: #000000;
  color: #ffffff;
}
.darkbg {
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  width: 250px;
  border: 2px solid #000000;

  font-size: 10px;
  text-align: center;
  padding: 10px;
}
.lightbg {
  background-color: #ffffff;
  color: #000000;
  border-radius: 20px;
  width: 250px;
  border: 2px solid #000000;

  font-size: 10px;
  text-align: center;
  padding: 10px;
}
.Container {
  background-color: #000000;
  color: #ffffff;
  border-radius: 20px;
  width: 250px;
  border: 2px solid #000000;

  font-size: 10px;
  text-align: center;
  padding: 10px;
}

@media (min-width: 768px) {
  .bgContainer {
    background-color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
  }
  .whiteColor {
    border-radius: 2px;
    padding: 10px;
    border: 2px solid #000000;
    background-color: #ffffff;
    font-size: 20px;
  }
  .blackColor {
    border-radius: 2px;
    padding: 10px;
    border: 2px solid #000000;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
  }
  .darkbg {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20px;
    width: 50%;
    border: 2px solid #000000;

    font-size: 20px;
    text-align: center;
    padding: 10px;
  }
  .lightbg {
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
    width: 50%;
    border: 2px solid #000000;

    font-size: 20px;
    text-align: center;
    padding: 10px;
  }
}
